/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
	--accent: #2458F2;
	--accent-dark: #0038DE;
	--accent-gradient: linear-gradient(
    10deg,
    hsl(240deg 100% 53%) 0%,
    hsl(231deg 100% 50%) 8%,
    hsl(228deg 100% 50%) 17%,
    hsl(225deg 100% 50%) 25%,
    hsl(223deg 100% 50%) 33%,
    hsl(221deg 100% 50%) 42%,
    hsl(219deg 100% 50%) 50%,
    hsl(218deg 100% 50%) 58%,
    hsl(216deg 100% 50%) 67%,
    hsl(214deg 100% 50%) 75%,
    hsl(213deg 100% 50%) 83%,
    hsl(212deg 100% 50%) 92%,
    hsl(210deg 100% 50%) 100%
  );
	--base-background-color: linear-gradient(
		10deg,
		hsl(0deg 0% 100%) 0%,
		hsl(211deg 65% 99%) 8%,
		hsl(211deg 65% 99%) 17%,
		hsl(211deg 65% 98%) 25%,
		hsl(211deg 65% 97%) 33%,
		hsl(210deg 65% 97%) 42%,
		hsl(210deg 65% 96%) 50%,
		hsl(210deg 65% 95%) 58%,
		hsl(210deg 65% 95%) 67%,
		hsl(210deg 65% 94%) 75%,
		hsl(210deg 65% 93%) 83%,
		hsl(210deg 65% 93%) 92%,
		hsl(210deg 65% 92%) 100%
		);
		--svg-stroke: url(#accentGradientLight);
		--svg-background: url(#baseBackgroundColorLight);
		--text-color-heaviest: #222;
		--text-color-heavy: #3C3533;
		--menu-background-color: #333;
		--code-background-color: #cedced;
		--horizontal-break-color: #e1e1e1;
		--gray: 96, 115, 159;
		--gray-light: 229, 233, 240;
		--gray-dark: #3C3533;
		--light-grey: #e1e1e1;
		--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
		box-sizing: border-box;
}
@media (prefers-color-scheme: light) {
	:root {
		--accent: #FF5E2B;
		--accent-dark: #BB3B13;
		--text-color-heaviest: #e1e1e1;
		--text-color-heavy: #d1d1d1;
		--base-background-color: linear-gradient(
			10deg,
			hsl(0deg 0% 7%) 0%,
			hsl(344deg 0% 7%) 8%,
			hsl(344deg 0% 8%) 17%,
			hsl(344deg 0% 9%) 25%,
			hsl(344deg 0% 9%) 33%,
			hsl(344deg 0% 10%) 42%,
			hsl(344deg 0% 10%) 50%,
			hsl(344deg 0% 11%) 58%,
			hsl(344deg 0% 11%) 67%,
			hsl(344deg 0% 12%) 75%,
			hsl(344deg 0% 12%) 83%,
			hsl(344deg 0% 13%) 92%,
			hsl(0deg 0% 13%) 100%
		);
		--accent-gradient: linear-gradient(
			10deg,
			hsl(14deg 100% 58%) 0%,
			hsl(14deg 95% 57%) 8%,
			hsl(14deg 90% 55%) 17%,
			hsl(14deg 85% 54%) 25%,
			hsl(14deg 81% 52%) 33%,
			hsl(14deg 77% 51%) 42%,
			hsl(14deg 75% 49%) 50%,
			hsl(14deg 76% 48%) 58%,
			hsl(14deg 77% 46%) 67%,
			hsl(14deg 78% 45%) 75%,
			hsl(14deg 79% 43%) 83%,
			hsl(14deg 80% 42%) 92%,
			hsl(14deg 82% 40%) 100%
		);
		--svg-stroke: url(#accentGradientDark);
		--svg-background: url(#baseBackgroundColorDark);
		--code-background-color: #454545;
		--horizontal-break-color: #e1e1e1;
		--menu-background-color: #333;
	}
}
body {
	font-family: 'Kantumruy Pro Variable', Helvetica, sans-serif, sans-serif;
	font-style: normal;
	font-display: swap;
	font-weight: 350;
	letter-spacing: 0.00em;
	margin: 0;
	padding: 0;
	min-height: calc(100vh - env(safe-area-inset-top));
	text-align: left;
	background: var(--base-background-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-color-heavy);
	font-size: 16px;
	line-height: 1.45;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Plus Jakarta Sans Variable', Helvetica, sans-serif, sans-serif;
	font-weight: 650;
	line-height: 1.6;
	letter-spacing: -0.043em;
	margin: 0;
	color: var(--text-color-heaviest);
}
h1 {
	font-size: 5.61em;
	line-height: normal;
}
h2 {
	font-size: 4.209em;
}
h3 {
	font-size: 3.157em;
}
h4 {
	font-size: 2.369em;
}
h5 {
	font-size: 1.777em;
}
h1 {
	font-size: 2.027em;
	line-height: normal;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--code-background-color);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--horizontal-break-color);
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.hd-icon::before {
	width: 20px;
	height: 20px;
}