---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Logo from "./Logo.astro";
---

<header>
	<nav>
		<ul>
			<li>
				<a href="/" style="width: 24px; height: 24px;">
					<Logo />
				</a>
			</li>
			<li><a href="/">garden</a></li>
			<li><a href="/">research</a></li>

			<!-- <a href="/">
			<h2
				style="display: flex; align-items: center; padding: 0 1em; gap: 0.25em;"
			>
			</h2>
		</a> -->
		</ul>
		<!-- <div class="internal-links">
		  <HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink> -->
	</nav>

	<style>
		header {
			position: fixed;
			top: 0.5em;
			left: 3em;
			z-index: 1000;
			display: flex;
			width: fit-content;
			height: fit-content;
			border-radius: 2em;
			padding: 0.45em 0.25em;
			background: var(--base-background-color);
			/* box-shadow:
				0px 0px 0px 0px rgba(19, 21, 26, 0.3),
				0px 1px 2px 0px rgba(19, 21, 26, 0.29),
				0px 4px 4px 0px rgba(19, 21, 26, 0.26),
				0px 10px 6px 0px rgba(19, 21, 26, 0.15),
				0px 17px 7px 0px rgba(19, 21, 26, 0.04),
				0px 26px 7px 0px rgba(19, 21, 26, 0.01); */
		}
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style-type: none;
			padding: 0.25em 1em;
			margin: 0;
			gap: 2em;
		}
		li {
			display: inline-block;
			font-size: 16px;
		}

		li a,
		li a.active {
			color: var(--text-color-heaviest);
			text-decoration: none;
			display: flex;
			align-items: center;
			gap: 0.25em;
		}
		nav {
			display: flex;
			width: fit-content;
			height: fit-content;
		}
	</style>
</header>
